<%= form_for(@steppy) do |f| %>
  <% if @steppy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@steppy.errors.count, "error") %> prohibited this steppy from being saved:</h2>

      <ul>
      <% @steppy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="maincont formpgs2">
  <p>
      <h1 style="font-size:24px; font-weight:bold; padding-bottom:30px;">Add a definition!</h1>
    </p>
  
  <% if @steppy.ask.present? %>
    <% @steppy.goal = @steppy.ask %>
    <% @steppy.ask = "" %>
  <%  end %>






  <% if @steppy.step10.present? %>
     cant edit any more
   
  <% elsif @steppy.step9.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step10, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :Example10, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author10, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author10, value: "Anonomyous" %>
    <% end %>

  
  <% elsif @steppy.step8.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step9, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :Example9, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author9, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author9, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step7.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step8, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :Example8, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author8, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author8, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step6.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step7, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :Example7, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author7, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author7, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step5.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step6, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :Example6, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author6, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author6, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step4.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step5, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :example5, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author5, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author5, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step3.present? %>
    
    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step4, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :example4, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author4, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author4, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step2.present? %>

    <div class="field">
      <p class="myh3" id="step3">Defenition:</p>
     <%= f.text_area :step3, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step3">Example:</p>
     <%= f.text_area :example3, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author3, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author3, value: "Anonomyous" %>
    <% end %>

  <% elsif @steppy.step1.present? %>

    <div class="field">
      <p class="myh3" id="step2">Defenition:</p>
     <%= f.text_area :step2, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step2">Example:</p>
     <%= f.text_area :example2, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author2, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author2, value: "Anonomyous" %>
    <% end %>

  <% else %>

    <div class="field">
      <p class="myh3">Word:</p>
      <%= f.text_field :goal, :class => "form-control"%>
    </div>

    <div class="field">
      <p class="myh3" id="step1">Defenition:</p>
     <%= f.text_area :step1, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <div class="field">
      <p class="myh3" id="step1">Example:</p>
     <%= f.text_area :example1, :class => "form-control", :style => "height: 120px;" %>
    </div>

    <% if current_user %>
      <%= f.hidden_field :author1, value: current_user.username %>
    <% else %>
      <%= f.hidden_field :author1, value: "Anonomyous" %>
    <% end %>

  <% end %>

  <form role="form" class="form-horizontal">
  <div class="">
    <%= f.text_field :ask, :class => "form-control hide" %>
    </br>
    <div class="actions"><%= f.submit "Post!", :class => "btn btn-primary bw", :style => "width: 100%;" %></div>
  </div>  
</div>
</form>


<% end %>
